.credits-view {
  .presentation;
  box-sizing: border-box;
  padding-top: 5%;
  font-size: 120%;

  .credits-text {
    text-align: center;

    .credits-text-block {
      margin: 0;
    }

    .credits-text-highlight {
      .highlight-text;
      display: block;
      margin: 20px;
    }
  }

  .credits-image {
    @media only screen and (max-width: @mobile-breakpoint) {
      margin-top: 30px;
    }
  }
}