.credits-view {
  .presentation;
  box-sizing: border-box;
  padding-top: 5%;
  font-size: 120%;

  .credits-text {
    text-align: center;

    .credits-text-block {
      margin-top: 0;
    }
  }

  .highlight-text {
    display: block;
    margin: 20px;
  }
}