.home-view {

  @animation-duration: .3s;

  .animate-outline(@name, @color) {
    @keyframes @name {
      0% {
        outline-width: 1px;
      }
      50% {
        outline-width: 8px;
      }
      100% {
        outline-width: 3px;
      }
    }

    outline-color: @color;
    outline-style: solid;
    animation-name: @name;
    animation-duration: @animation-duration;
    animation-fill-mode: forwards;
  }

  .animate-icon(@name) {
    @keyframes @name {
      0% {
        .setIconBoxModel(28px, 18px, 7px, 7px);
      }
      50% {
        .setIconBoxModel(56px, 36px, -7px, 0px);
      }
      100% {
        .setIconBoxModel(28px, 18px, 7px, 7px);
      }
    }

    animation-name: @name;
    animation-duration: @animation-duration;
    animation-fill-mode: forwards;
  }

  .field {
    border: none;
    background-color: @white-color;
    padding: 10px;
    font-size: @font-size;
    -webkit-appearance:none;
    -moz-appearance: none;
    outline: none;
    border-radius: 0;

    &.ng-valid.ng-touched {
      .animate-outline(border-valid, @green-color);
    }

    &.ng-invalid.ng-touched {
      .animate-outline(border-error, @red-color);
    }

    &:focus {
      outline-offset: 0;
    }
  }

  input {
    .field;
  }

  select {
    .field;
    background-image: url('../src/common/assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 40px 40px;
  }

  .col_label {
    .col;
    width: 40%;
    padding-top: 20px;
    text-align: right;

    @media only screen and (max-width: @mobile-breakpoint) {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 0;
      text-align: left;
    }
  }

  .col_field {
    .col;
    width: 60%;

    @media only screen and (max-width: @mobile-breakpoint) {
      width: 100%;
    }
  }

  ///
  .input-wrapper {
    text-align: left;
    position: relative;
  }

  .input-wrapper * {
    width: 100%;
  }

  ////
  .field-message-wrapper(@background-color) {

    @keyframes show-icon {
      from {
        opacity: 0;
        margin-bottom: 0;
      }
      to {
        opacity: .9;
        margin-bottom: 18px;
      }
    }

    @padding: 10px;
    background-color: @background-color;
    color: white;
    position: absolute;
    bottom: 100%;
    padding: @padding;
    margin-left: -@padding;
    box-sizing: content-box;

    animation-name: show-icon;
    animation-duration: @animation-duration;
    animation-fill-mode: forwards;

    &:after {
      top: 100%;
      right: 15px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-top-color: @background-color;
      border-width: 15px;
      margin-left: -15px;
    }
  }

  .field-error-wrapper {
    .field-message-wrapper(@red-color);
  }

  .field-help-wrapper {
    .field-message-wrapper (@blue-color);
  }

  ///
  .setIconBoxModel(@icon-size, @font-size, @top-pos, @right-pos) {
    top: @top-pos;
    right: @right-pos;
    width: @icon-size;
    height: @icon-size;
    border-radius: @icon-size / 2;
    font-size: @font-size;
  }

  .field-icon(@background-color) {
    .setIconBoxModel(28px, 18px, 7px, 7px);
    background-color: @background-color;
    border: 1px solid @white-color;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
  }

  .field-icon_valid {
    .animate-icon(icon-valid);
    .field-icon(@green-color);
  }

  .field-icon_error {
    .animate-icon(icon-error);
    .field-icon(@red-color);
  }

  .field-icon_help {
    .field-icon(@blue-color);
  }

  ////
  .nemo-captcha-audio {
    display: none;
  }

  .nemo-captcha-play {
    background: transparent url('/app/sample/grey-audio-Icon.png') no-repeat 0 0;
    width: 21px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
  }

  .nemo-captcha-refresh {
    cursor: pointer;
    text-decoration: underline;
  }

  .nemo-captcha-img {
    display: inline-block;
  }

  .row_checkbox {

    [input-checkbox] {
      width: 30px;
      height: 30px;
      border: none;
      background-color: @white-color;
      cursor: pointer;

      &.ng-valid.ng-touched {
        .animate-outline(border-valid, @green-color);
      }

      &.ng-invalid.ng-touched {
        .animate-outline(border-error, @red-color);
      }

      label {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 1.8;
        cursor: pointer;
        color: @white-color;
        background-color: @blue-color;
      }
    }

    .field-icon {
      display: none;
    }

    .field-error-wrapper:after,
    .field-help-wrapper:after {
      left:25px;
    }
  }

  [input-captcha-mario] {
    .field;
    padding: 0;
    height: 460px;
  }

  .button_submit {
    float: right;
    background-color: @blue-color;
    color: @white-color;
    padding: 12px;
    text-align: right;
//    margin: 5px 20px;
  }
}